body {
    display: flex;
    flex-direction: column;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.parallax-scroll {
    position: fixed;
    top: 0;
    left: 0;
    height: 150%;
    width: 100%;
    background-image: url(../imagens/bg_planeta.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    transform: translateZ(0);
    z-index: -1;
}

.parallax-scroll .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(5px);
    z-index: 1;
}

.content {
    position: relative;
    z-index: 1;
    height: 100vh;
    display: flex;
    align-items: center;
    color: white;
    text-align: center;
    margin: 350px 50px 150px;
}

.content h1, .content h2, .content h3 {
    color: rgb(227, 241, 229);
    text-shadow: 3px 3px 4px rgb(0, 0, 0);
}

.content h1 {
    font-size: 40px;
    
}

.content h2 {
    font-size: 32px;
    margin-top: 5px;
}

.content h3 {
    font-size: 25px;
}

.content p {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    font-size: 22px;
    padding-bottom: 12px;
    color: rgb(215, 238, 218);
    text-shadow: 3px 3px 4px rgb(0, 0, 0);

}

.content li {
    padding: 5px;
}

main {
    flex: 1;
    margin-top: 60px;
    margin-bottom: 200px;
}

#main-nav {
    background-color: rgb(41, 104, 41);
    padding: 10px, 20px;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.6);
}

.nav-list {
    display: flex;
    list-style: none;
    color: white;
    margin: 0;
    padding: 30px;
    gap: 20px;
}

.nav-item {
    text-decoration: none;
    font-size: 17px;
    color: white;
    font-weight: bold;
    margin: 0, 50px;
    padding: 8px, 12px;
    transition: 0.5s;
}

.nav-item:hover {
    cursor: pointer;
    text-shadow: 0 0 10px white;
    font-size: 22px;
}

.content .topic-paragraph, .content .paragraph-title {
    text-align: left;
}

.footer {
    background-color: rgb(27, 83, 27);
    width: 100%;
    padding: 10px;
    position: relative;
    bottom: -10px;
    left: -10px;
    display: flex;
    gap: 30px;
    z-index: 2;
}


.footer-column-title {
    color: white
}

.footer-item {
    color: lightgray;
}